* {
    margin: 0;
    padding: 0;
}

section {
    margin: 2% 0;
}

.list-container h2 {
    margin: 5px 10px;
}

.list-container .list-sub-container {
    display: flex;
    margin: 15px;
}

.list-container .list-sub-container .unordered {
    background-color: lightblue; 
    margin: 0 2%;
    padding: 2%;
}

.list-container .list-sub-container .unordered span {
    background-color: yellow;
}

.list-container .list-sub-container .unordered div {
    margin: 2% 10%;
}

.list-container .list-sub-container .unordered div ul {
    list-style-type: square;
}

.list-container .list-sub-container .ordered {
    background-color: lightsalmon; 
    margin: 0 2%;
    padding: 2%;
}

.list-container .list-sub-container .ordered span {
    background-color: yellow;
}

.list-container .list-sub-container .ordered div {
    margin: 2% 10%;
}

.list-container .list-sub-container .ordered div ol {
    list-style-type: upper-roman;
}
/* ------------ */

.form-container h2 {
    margin: 5px 10px;
}

.form-container form {
    background-color: lightgrey;
    width: 40%;
    margin: 3% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container form div {
    text-align: center;
    width: 75%;
    margin: 10px 20px;
    padding: 10px;
    font-size: 18px;
}

.form-container form button {
    padding: 5px 10px;
    margin: 10px 0;
}

/* ------------ */

.css-types-container h2, h3 {
    margin: 5px 10px;
}

.css-types-container .css-types li {
    margin: 2% 5%;
    background-color: lightcyan;
    padding: 10px;
}

.css-types-container .css-types li span {
    font-weight: bold;
}

/* ------------ */

.margin-padding h2 {
    margin: 5px 10px;
}

.margin-padding .margin-padding-container {
    display: flex;
    justify-content: space-evenly;
}

.margin-padding .margin-padding-container div {
    background-color: lightgray;
    margin: 1% 0;
}

.margin-padding .margin-padding-container div span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.margin-padding .margin-padding-container li {
    margin: 2% 0;
    padding: 0 10px;
    list-style-type: none;
}

/* ------------ */

.flex-box h2 {
    margin: 5px 10px;
}

.flex-box .flex-box-container {
    background-color: lightblue;
    width: 70%;
    height: 450px;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.flex-box .flex-box-container .box {
    width: 250px;
    height: 250px;
    background-color: orange;
    border: 3px solid black;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* ------------ */

.grid-box h2 {
    margin: 5px 10px;
}

.grid-box .grid-box-container {
    background-color: lightgrey;
    width: 50%;
    /* height: 450px; */
    margin: 3% auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 150px 150px 150px 120px;
}

.grid-box .grid-box-container .box {
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.grid-box .grid-box-container .box1 {
    background-color: blueviolet;
    grid-column: 1/3;
}
.grid-box .grid-box-container .box2 {
    background-color: red;
    grid-row: 2/4;
}
.grid-box .grid-box-container .box3 {
    background-color: aquamarine;
}
.grid-box .grid-box-container .box4 {
    background-color: orange;
}
.grid-box .grid-box-container .box5 {
    background-color: teal;
    grid-column: 1/3;
}
.grid-box .grid-box-container .box6 {
    background-color: yellow;
    grid-column: 1/3;
}

